<p id="notice"><%= notice %></p>

<div id='search-box'>
<%= form_tag(negocios_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Que estas buscando..." %>
  <div id='button'>
   <%= submit_tag "Buscar" %>
  </div>
<% end %>
</div>

<<<<<<< HEAD
=======
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
>>>>>>> 4b1361452f75a374095de97e881b83b534808e1d

<div id='search-results'>
  <% @negocios.each do |negocio| %>
  <div id='results-box'>
    <div id='name'><%= link_to negocio.name, negocio %></div>
    <div id='desc'><%= negocio.desc %></div>
  </div>
  <% end %>
</div>


